body{
    margin: 0;
}
canvas{
    background-color: black;
}
h1{
    padding: 10px;
}
.score-div{
    position: absolute;
    color: #fff;
    padding: 15px;
    user-select: none;
}
#game-init{
    position: absolute;
    text-align: center;
    width: 500px;
    z-index: 99;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 300px;
    background-color: #dbdbdb;
    padding: 30px;
}
#game-btn{
    margin-top: 70px;
    padding: 10px 50px;
}